PORT_MPA= # port sur lequel le serveur écoute

URL_SERVEUR_BASE_DONNEES= # URL du serveur de base de données, ex. postgres://user@mpa-db/mpa

SECRET_JWT= # chaîne utilisée pour chiffrer le JWT

HASHAGE_SEL= # Sel à utiliser pour le hachage SHA256

CHIFFREMENT_CHACHA20_CLE_HEX= # Clé à utiliser pour le chiffrement ChaCha20 en mémoire au format hexadecimal. Ex: f1e2d3c4b5a6978877665544332211ffeeddccbbaa9988776655443322110000

SERVEUR_TRUST_PROXY= # optionnel (0 par défaut) nombre de proxies en amont du service ou configuration plus fine de trust proxy, Cf.  https://expressjs.com/en/guide/behind-proxies.html
SERVEUR_MAX_REQUETES_PAR_MINUTE= # optionnel (600 par défaut) nombre maximum de requêtes par minute par IP
SERVEUR_ADRESSES_IP_AUTORISEES= # Seules ces IP seront autorisées. Les autres ne seront pas servies. Séparées par des ',' s'il y en a plusieurs. Supprimer la variable d'env pour désactiver le filtrage.